name: 'dart_version_autotag'
description: 'A package that to scan the pubspec.yaml file and automatically create or update a tag in git for it.'
version: '2.0.0'
homepage: 'https://github.com/peiffer-innovations/actions-dart-version-autotag'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  args: '^2.3.1'
  github: '^9.4.0'
  http: '^0.13.5'
  intl: '^0.18.0'
  json_class: '^2.1.2+11'
  logging: '^1.1.0'
  meta: '^1.9.1'
  pub_api_client: '^2.2.1'
  pub_semver: '^2.1.1'
  yaml: '^3.1.1'
  yaml_writer: '^1.0.2'

dev_dependencies:
  test: '^1.21.6'

ignore_updates:
  - 'archive'
  - 'async'
  - 'boolean_selector'
  - 'characters'
  - 'charcode'
  - 'collection'
  - 'clock'
  - 'crypto'
  - 'fake_async'
  - 'file'
  - 'matcher'
  - 'material_color_utilities'
  - 'meta'
  - 'path'
  - 'source_span'
  - 'stack_trace'
  - 'stream_channel'
  - 'string_scanner'
  - 'sync_http'
  - 'term_glyph'
  - 'test_api'
  - 'typed_data'
  - 'vector_math'
  - 'webdriver'
